@for(item of keyItems; track $index) {
    @if(item.isIcon) {
      <button style="width: 100%; height: 100%; border-radius: 20px;" mat-raised-button (click)="btnClick(item.value)">
        <mat-icon style="width: 30px; height: 30px; font-size: 30px;">{{ item.iconName }}</mat-icon>
      </button>
    } @else {
      <button style="width: 100%; height: 100%; font-size: 28px; border-radius: 20px" mat-raised-button (click)="btnClick(item.value)">
        <span> {{ item.label }}</span>
      </button>
    }
}
